/* Estilos específicos para o cabeçalho em telas grandes */
.App-header {
    background-color: rgb(240, 151, 198);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 65px;
    width: 100vw;
  }
  
.img-profile{
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-profile img{
  width: 35%;
  height: auto;
  border-radius: 100%;
}
  
.App-header ul{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
}

.App-header ul li {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150%;
  color: #5D4037;
}

.social-media-desktop{
 
  padding-left: 3%;
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content:center ;
}

.social-media-desktop i {
  font-size: 220%;
}

#i1{
  margin-right: 15%;
}