.container-lyrics1 {
    min-height: 84.5vh;
    margin-top: 2%;
    padding: 4% 0 0 7%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
}

.container-lyrics1-1{
    display: flex;
    flex-direction: row;
}

.container-lyrics1 h2 {
    margin-left: 2%;
    color: #5D4037;
    font-family: "Bona Nova SC", serif;
}

.container-lyrics1 p {
    color: #5D4037;
    margin-bottom: 3%;
    font-size: 150%;
    font-family: "Bona Nova SC", serif;
}

.left-column, .right-column {
    width: 34%; 
    padding: 0 2%; 
    box-sizing: border-box;
}

.group {
    margin-bottom: 20px; 
}

.container-lyrics-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    font-size: 250%;
    font-family: "Ephesis", cursive;
    color: #535050;
    font-weight: bold;
}

.controls {
    margin-top: 3%;
    margin-left: 1%;
    width: 15vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.controls button {
    height: 100%;
    width: 27%;
    margin-right: 2%;
    border: none;
    font-size: 210%;
    color: #5D4037;
    background-color:rgb(240, 151, 198);
    border-radius: 100%;
}
.back-compositions{
    height: 100%;
    width: 27%;
}
#button-back{
    height: 100%;
    width: 100%;
}
