.container-lyrics{
    min-height: 90.2vh;
    margin-top: 14%;
    padding: 5% 7% 0 7%;
    background-image: url("../img/backlyrics1.jpeg");
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.container-lyrics h2{
    color: #5D4037;
    font-family: "Bona Nova SC", serif;
}

.container-lyrics p {
    color: #5D4037;
    margin-bottom: 8%;
    line-height: 150%;
    font-size: 95%;
    font-family: "Bona Nova SC", serif;
}
.container-lyrics-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 98vh;
    font-size: 210%;
    font-family: "Ephesis", cursive;
    color: #535050;
    font-weight: bold;
}