.container-lyrics{
    min-height: 90.2vh;
    margin-top: 14%;
    padding: 5% 7% 0 7%;
   
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.container-lyrics h2{
    color: #5D4037;
    font-family: "Bona Nova SC", serif;
}

.container-lyrics p {
    color: #5D4037;
    margin-bottom: 8%;
    line-height: 150%;
    font-size: 95%;
    font-family: "Bona Nova SC", serif;
}
.container-lyrics-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 98vh;
    font-size: 210%;
    font-family: "Ephesis", cursive;
    color: #535050;
    font-weight: bold;
}

.controls-mobile{
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.controls-mobile a{
    height: 50%;
    width: 10%;
}
.controls-mobile button{
    height: 50%;
    width: 10%;
    border: none;
    border-radius: 100%;
    font-size: 110%;
    color: #5D4037;
    background-color:rgb(240, 151, 198);
}
.back-compositions-mobile{
    height: 100%;
}
#button-back-mobile{
    height: 100%;
    width: 100%;
}