.options{
    background-color: rgb(241, 207, 225);
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 2;
}

.profile-mobile{
    margin: 0;
    padding: 0;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #b8b2b2;
    margin-top: 4%;
}

.img-profile {
    background-image: url(../img/image4.jpeg);
    background-size: cover;
    height: 46%;
    width: 30%;
    border-radius: 100%;
    margin-top: 2%;
}

.profile-mobile p{
    color: rgb(83, 80, 80) ;
    margin-top: 1%;
    margin-bottom: 0;
    font-size: 120%;
    font-family: "Playwrite NL", cursive;
    font-optical-sizing: auto;
}

.options-list{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.options-list li {
    margin-left: 0;
    padding-left: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
    color: rgb(83, 80, 80);

  
}


.options-list li {
    margin-left: 0;
    padding-left: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
    color: rgb(83, 80, 80);
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave para mudanças de cor */
}

.options-list li:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Cor de fundo ao passar o mouse */
}

.options-list li:active {
    background-color: rgba(0, 0, 0, 0.2); /* Cor de fundo ao clicar */
    color: rgb(0, 0, 0); /* Muda a cor do texto ao clicar, se desejado */
}

.options-list li.clicked {
    background-color: rgba(0, 0, 0, 0.3); /* Cor de fundo ao clicar */
    color: rgb(0, 0, 0); /* Cor do texto ao clicar */
    transition: background-color 0.2s ease; /* Transição suave */
}

