.options{
    background-color: rgb(241, 207, 225);
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 2;
}

.profile-mobile{
    margin: 0;
    padding: 0;
    height: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #b8b2b2;
    margin-top: 4%;
}

.profile-mobile img{
    height: auto;
    width:40%;
    border-radius: 100%;
}

.profile-mobile p{
    color: #5D4037 ;
    margin-top: 1%;
    margin-bottom: 0;
    font-size: 120%;
    font-family: "Playwrite NL", cursive;
    font-optical-sizing: auto;
}

.options-list{
    width: 89%;
    height: 40%;
    margin: 10% 0 0 10% ;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}


.options-list li {
    width: 98%;
    height: 10%;
    margin-bottom: 5%;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
    color: #5D4037;
    display: flex;
    align-items: center;
    position: relative;
}
.link1{
    padding: 0;
    /* display: flex; 
    align-items:flex-start;
    justify-content:flex-start;  */
    width: 100%;
    height: 100%;
    color: #5D4037;
    text-decoration: none;
    position: relative;
    /* top: 0; 
    left: 0; */
    outline: none;
    box-shadow: none;
}

.options-list li:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Cor de fundo ao passar o mouse */
}

.options-list li:active {
    background-color: rgba(0, 0, 0, 0.2); /* Cor de fundo ao clicar */
    color: rgb(0, 0, 0); /* Muda a cor do texto ao clicar, se desejado */
}

.options-list li.clicked {
    background-color: rgba(0, 0, 0, 0.3); /* Cor de fundo ao clicar */
    color: rgb(0, 0, 0); /* Cor do texto ao clicar */
    transition: background-color 0.2s ease; /* Transição suave */
}


