/* Estilos gerais do aplicativo */
.App {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none; /* Remove o sublinhado padrão */
}